/* General-Styling starts here */

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 20px;
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

.image-description {
  font-style: italic;
  font-size: 1em;
  font-weight: 300;
  margin-top: 0;
}

/* General-Styling ends here */
/* Footer-Styling starts here */

.footer {
  justify-content: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  list-style: none;
}

.footer li {
  display: flex;
  font-weight: 300;
  font-size: 0.7rem;
  gap: 10px;
}

.footer a:link {
  color: grey;
  text-decoration: none;
}

.footer a:visited {
  color: grey;
}

.footer a:hover {
  font-weight: 400;
}

.footer a:active {
  text-decoration: underline;
}
/* Footer-Styling ends here */
/* Navigation-Styling starts here */

nav ul {
  float: right;
  display: flex;
  box-sizing: content-box;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding-left: 0;
  border-radius: 15px;
}

nav li {
  padding: 8px 15px 6px;
  align-content: center;
  background-color: lightgray;
  color: white;
  border-radius: 15px;
}

/* Navigation-Styling ends here */
/* Social-Cards-Styling starts here */

.social-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
}

.personal-social-card {
  display: flex;
  align-items: center;
  width: 45%;
  padding: 20px;
  border: 1px solid lightgrey;
  gap: 24px;
  background: #ffffff;
  border-radius: 16px;
  word-break: break-word;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.154);
}

.personal-social-card h3 {
  text-transform: uppercase;
}

.personal-social-card p {
  flex-wrap: wrap;
}

.social-card-account {
  color: gray;
  font-size: small;
  font-style: italic;
}

.social-profile-picture {
  width: 8rem;
}

/* Social-Cards-Styling ends here */
