.social-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
  gap: 10px;
}

.personal-social-card {
  display: flex;
  align-items: center;
  width: 45%;
  padding: 20px;
  gap: 24px;
  background: #ffffff;
  border-radius: 16px;
  word-break: break-word;
}

.personal-social-card h3 {
  text-transform: uppercase;
}

.personal-social-card p {
  flex-wrap: wrap;
}

.personal-social-card a {
  color: black;
  text-decoration: none;
}

.personal-social-card a:hover {
  font-weight: 800;
  text-decoration: underline;
}

.social-card-account {
  color: gray;
  font-size: small;
  font-style: italic;
}

.social-profile-picture {
  width: 8rem;
}
