* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(209, 209, 209);
}

header {
  padding-top: 20px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

p,
li {
  font-weight: 300;
}

.image-description {
  font-style: italic;
  font-size: 1em;
  font-weight: 300;
  margin-top: 0;
}
