.footer {
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
}

.footer-bar {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  list-style: none;
}

.footer_item {
  font-weight: 300;
  font-size: 0.7rem;
}

.footer_item a {
  color: white;
}

.footer_item a:link {
  text-decoration: none;
}

.footer_item a:visited {
  color: white;
  font-style: italic;
}

.footer_item a:hover {
  font-weight: 400;
}

.footer_item a:active {
  color: white;
}
